/* основний колір тексту #757575*/
/*  другорядний колір тексту #212121*/

/* основний колір фону  #FFFFFF*/
/* другорядний колір фону #F5F4FA */
/* футер основний колір фону #2F303A */
/* футер основний колір тексту #FFFFFF */
/* футер другорядний колір тексту rgba(255, 255, 255, 0.6) */
/* футер колір нижнього тексту rgba(255, 255, 255, 0.4) */

/* змінний колір #2196F3 */
/* Web  #2196F3 */
/* stydio  #000000*/
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-white: #ffffff;
  --color-changes: #2196f3;
  --footer-color: #2f303a;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0;
  padding: 0;
  clip: roct(0 0 0 0);
  overflow: hidden;
}
body {
  background-color: var(--primary-white);
  color: var(--primary-text-color);
}

a,
p,
ul,
div,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

/* HEADER */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
}
.logo-header {
  margin-top: 24px;
  margin-bottom: 25px;
  width: 153px;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  /* identical to box height */
  letter-spacing: 0.03em;
}
.logo-blue {
  margin-right: 7px;
  color: var(--color-changes);
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: var(--primary-white);
}

.site-nav {
  width: 294px;
  margin-left: 85px;
  display: flex;
  cursor: pointer;
}

.site-nav .link {
  display: block;
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* зміна кольору */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-changes);
}

.site-nav .link.current {
  color: var(--color-changes);
}

/* tel, mail */
.address-links {
  display: flex;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primary-text-color);
}

.address-link:hover,
.address-link:focus {
  --color3: #2196f3;
  color: var(--color-changes);
}
.address-links .item:not(:last-child) {
  margin-right: 30px;
}
.marg {
  margin-right: 10px;
  fill: currentColor;
}

/* HERO */

.section-hero {
  height: 600px;
  display: flex;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/headerimg.jpg);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  width: 696px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white);
}
.button-primary {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--color-changes);
  color: var(--primary-white);
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
}

/*Feature  */
.feature {
  display: flex;
  align-items: center;
  padding-top: 94px;
}

.box {
  display: flex;
}
.box .item:not(:last-child) {
  margin-right: 30px;
}
.fon-item {
  height: 120px;
  padding: 25px 100px;

  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: start;
}
.text {
  width: 270px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  /* or 171% */
  letter-spacing: 0.03em;
  text-align: start;
}

/* Чем мы занимаемся */
.section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.work {
  display: flex;
  align-items: center;
}
.work .work-item:not(:last-child) {
  margin-right: 30px;
}
.work-item {
  display: block;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white);
}

/* our team */
.team {
  background-color: #f5f4fa;
}

.team-box {
  display: flex;
  align-items: center;
}
.team-box .item:not(:last-child) {
  margin-right: 30px;
}

.bg-color {
  width: 270px;
  cursor: pointer;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white);
}
.bg-color:hover {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team-info {
  padding-top: 30px;
  padding-bottom: 24px;
}
.team-title {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-text {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.list-links {
  width: 206px;
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
}
.team-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logotype {
  cursor: pointer;
}
.list-links .item:not(:last-child) {
  margin-right: 10px;
}

.team-link:hover {
  --color4: #ffffff;
  border-radius: 50%;
  background-color: var(--color-changes);
}

/* <!-- Постоянные клиенты --> */
.box-client {
  display: flex;
  justify-content: center;
}
.box-client .client-item:not(:last-child) {
  margin-right: 30px;
}

.client-logo {
  width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.icon {
  cursor: pointer;
  fill: currentColor;
}
.client-logo:hover {
  border-color: var(--color-changes);
  --color4: var(--color-changes);
}

/* --FOOTER-- */

.footer {
  background-color: #2f303a;
  /*  #2F303A */
}
.footer-cont {
  padding-top: 45px;
  padding-bottom: 28px;
  display: flex;
  align-items: baseline;
}
.logo-footer {
  width: 153px;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.footer-add {
  width: 231px;

  margin-top: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-white {
  text-align: left;
  color: var(--primary-white);
}
.address-footer {
  margin-top: 9px;
  text-align: left;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
/* Color section */
.footer-link:hover,
.footer-link:focus {
  color: var(--color-changes);
}

.social {
  width: 206px;
  margin-left: 69px;
}
.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  --color4: #ffffff;
}
.social-links .item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-link:hover {
  border-radius: 50%;
  background-color: var(--color-changes);
}
.right {
  margin-top: 20px;
  display: flex;
}
.mail {
  width: 570px;
  margin-left: 94px;
}
.button-mail {
  text-align: left;
  margin-right: 12px;
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--footer-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 4px;
  /* identical to box height, or 125% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.button-telegram {
  padding-right: 28px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

  border-radius: 4px;
  background-color: var(--color-changes);
}
.button-foot-primary {
  width: 143px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  /* identical to box height, or 187% */
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-white);
}

.imgtel {
  margin-left: 10px;
}
.footer-text {
  padding-top: 18px;
  padding-bottom: 21px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  /* or 200% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}
.text-white {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-white);
}

/* -- Project --  */
.project {
  padding-top: 93px;
  padding-bottom: 94px;
}

.button-filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-changes {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  /* identical to box height, or 162% */

  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--secondary-text-color);
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
.button-filters .item:not(:last-child) {
  margin-right: 8px;
}
.button-changes:hover,
.button-changes:focus {
  background-color: var(--color-changes);
  color: var(--primary-white);
}
.port-title {
  text-align: left;

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.port-text {
  margin-top: 4px;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  text-align: left;
  font-size: 16px;
  line-height: 1.87;

  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}
/*-- PROJECT-- */
.pictures-place {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  cursor: pointer;
  margin: 15px;
}
.project-item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.project-text {
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 23px;
  padding-right: 23px;
  border-left: 1px solid#EEEEEE;
  border-bottom: 1px solid#EEEEEE;
  border-right: 1px solid#EEEEEE;

  /* #eeeeee */
}
.changes-text {
  display: none;
  width: 322px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #000000;
}
